// Header
// ---
.fig-calendar-header {
  display: table-header-group;
  background-color: @item-hover-bg;
}

.fig-calendar-header-row {
  height: 60px;
  border-bottom: none;
}

.fig-calendar-header-cell {
  border-bottom: none;
}

.fig-calendar-header-left {
  padding-left: 20px;
}

.fig-calendar-header-month {
  text-align: center;

  .fig-calendar-header-month-text {
    font-size: 16px;
    margin-bottom: 0;
    user-select: none;
  }
}

.fig-calendar-header-right {
  text-align: end;
  padding-right: 20px;
}
