.figure-timepicker {
  justify-content: center;
  .ant-picker-input {
    input {
      text-align: center;
    }
  }

  .ant-picker-suffix {
    margin-left: 15px;
  }
}

/* Dropdown
* ----
*/
.ant-picker-dropdown {
  .ant-picker-panel-container {
    .ant-picker-time-panel {
      .ant-picker-content {
        ul.ant-picker-time-panel-column {
          display: inline-flex;
          flex-direction: column;
        }
      }
    }
  }
}
