.fig-search-select-container {
  .ant-select {
    .ant-select-arrow, .ant-select-clear {
      top: 50%;
      width: 16px;
      height: 16px;
      font-size: 16px;
      margin-top: -8px;
      user-select: none;

      span {
        svg {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}
