@import "~antd/dist/antd.less";
@import (css)
  url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap);

// Base
// ----
@font-family: "Inter";
@text-color: #2a2f56;
@border-radius-base: 4px;
@primary-color: #ff7358;
@heading-color: #2a2f56;
@border-color-base: #dee2e6;
@box-shadow-base: 0px 2px 5px rgba(60, 66, 87, 0.08),
  0px 0px 0px 1px rgba(60, 66, 87, 0.16), 0px 1px 1px rgba(0, 0, 0, 0.12);

@item-hover-bg: #f8f6fb;

// Popover
// ---
@popover-customize-border-color: transparent;

// Button
// ---
@btn-default-bg: #fff1ef;
@btn-default-border: @primary-color;

// Tag
// ---
@tag-default-bg: #e3e8ee;

// Tabs
// ---
@tabs-title-font-size: 16px;
@tabs-highlight-color: @text-color;

// Divider
// ---
@divider-color: #dee2e6;

// Input
// ---
@input-border-color: transparent;
@input-hover-border-color: transparent;

// Check
// ---
@checkbox-border-width: 0px;

// Select
// ---
@select-border-color: transparent;
@select-selection-item-bg: #e3e8ee;
@select-item-active-bg: @item-hover-bg;
@select-item-selected-bg: rgba(255, 115, 88, 0.7);

// Card
// ---
@card-actions-li-margin: 0;

// Table
// ---
@table-header-bg: #f6f6fb;

// CSS Override
// ---
.ant-typography-edit {
  color: #2a2f56;
}

.ant-btn:hover {
  color: @text-color;
  border-color: @primary-color;
  background-color: darken(@btn-default-bg, 2%);
}

.ant-btn-ghost:hover {
  color: @text-color;
  border-color: @border-color-base;
}

.ant-btn-primary:hover {
  color: #fff;
  border-color: @primary-color;
  background-color: darken(@primary-color, 2%);
}

.ant-btn-secondary:hover {
  color: @text-color;
  background-color: darken(@primary-color, 2%);
}

.ant-card-bordered {
  border-color: #dee2e6;
}

.ant-select-item {
  letter-spacing: -0.006em;
}

.ant-select-item-group {
  opacity: 0.5;
  font-size: 12.8px;
  color: @text-color;
  letter-spacing: -0.002em;
}

.ant-tabs-top > .ant-tabs-nav::before {
  border-bottom: 1px solid @divider-color;
}

.ant-tabs-top > .ant-tabs-nav .ant-tabs-ink-bar {
  height: 3px;
}

.ant-input,
.ant-picker,
.ant-checkbox-inner,
.ant-select-selector {
  box-shadow: @box-shadow-base;
}

.ant-input:focus,
.ant-select-focused:not(.ant-select-disabled).ant-select-single:not(.ant-select-customize-input)
  .ant-select-selector {
  border-color: transparent;
  box-shadow: 0px 2px 5px rgba(60, 66, 87, 0.08),
    0px 0px 0px 1px rgba(60, 66, 87, 0.16), 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 0px 0px 3px rgba(255, 44, 3, 0.2);
}

.ant-table-thead > tr > th {
  font-size: 11px;
  font-weight: 600;
  line-height: 15px;
  font-style: normal;
  letter-spacing: 0.08em;
}

.ant-popover-title {
  border: none;
  padding: 10px 16px 8px;
  background-color: @item-hover-bg;
}

.ant-popover-inner,
.ant-dropdown-menu,
.ant-select-dropdown {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.08),
    0px 15px 35px rgba(49, 49, 93, 0.1),
    0px 0px 0px 1px rgba(136, 152, 170, 0.1);
}

@import "figure.less";
@import "tags.less";
