.fig-query-builder-layout {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
}

.fig-query-builder-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.fig-query-builder-and-button {
  margin-left: 20px;
}
