@import "~antd/dist/antd.less";

@text-color: #2a2f56;
@border-radius-base: 4px;
@primary-color: #ff7358;
@heading-color: #2a2f56;
@border-color-base: #dee2e6;
@box-shadow-base: 0px 2px 5px rgba(60, 66, 87, 0.08), 0px 0px 0px 1px #dee2e6,
  0px 1px 1px rgba(0, 0, 0, 0.12);

@item-hover-bg: @primary-color;

@btn-default-bg: #fff1ef;
@btn-default-border: @primary-color;

@tabs-highlight-color: @text-color;

@divider-color: #dee2e6;

@select-selection-item-bg: #e3e8ee;

@card-actions-li-margin: 0;
