/* Colors
  ---
*/
.fig-tag {
  border: none;
  color: #4F5268;
  padding: 4px 6px;
  border-radius: 2px;
  margin-right: 6.5px;
  font-weight: 500;
  font-size: 12.8px;
  line-height: 10px;
  font-family: Inter;
  font-style: normal;
  letter-spacing: 0.01em;
}

.fig-default {
  background-color: #E3E8EE;
}
.fig-important {
  color: #5F2020;
  background-color: #FF9B9B;
}
.fig-warning {
  color: #584D27;
  background-color: #F6DE8C;
}
.fig-success {
  color: #174f3e;
  background-color: #8ae8cb;
}
.fig-info {
  color: #4F5268;
  background-color: #DDE0FB;
}
.fig-inverse {
  color: #2d3258;
  background-color: #9da7f0;
}

.fig-query-builder-layout {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
}

.fig-query-builder-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.fig-query-builder-and-button {
  margin-left: 20px;
}
